/*? BODY AND ALL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #202020;
    overflow-x: hidden;
}

/*? NAVBAR */
/* Netflix Logo */
.navbar-brand img {
    max-width: 100px;
    height: auto;
  }
  

.icon-image {
    width: 3em;
}


/*? FILM LIST */


.film-list {
    flex-wrap: nowrap;
}


.card {
    border: solid 3px #202020;
    overflow: hidden; 
}

/*! Queste proprietà vengono applicate solo al passaggio del mouse tramite script JS*/
div.card.focus-over{
    animation: focusOver 0.3s ease-in forwards;
    z-index: 10;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: transparent;
}  

/*? animations */
@keyframes focusOver {
    0%{transform: scale(1);}
    100%{transform: scale(1.2);}
}


/* anche se si tratta si fare un semplice scale, 
ho preferito giocare con un keyframe e JS
per dimostrare quanto appreso durante il modulo3 */