/*? BODY AND ALL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #202020;
}

/*? NAVBAR */
/* Netflix Logo */
.navbar-brand img {
    max-width: 100px;
    height: auto;
  }
  

.icon-image {
    width: 3em;
}

/*? carousel 1 */

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

/* card del carosello */
.card {
    border: transparent;
}


/*? list 2 (watch it again) */

.film-list {
    flex-wrap: nowrap;
}

  .film-list img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }