* {
    box-sizing: border-box;
}

body {
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

    min-height: 500px;
}

#logo {
    width: 4em;
}


div.card-book {
    background-color: white;
}

div.card-book img{
    width: 100%;
    object-fit: contain;

}

